.body {
  background-color: #8f6767;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.dropdown .btn-secondary.dropdown-toggle {
  background-color: #8f6767 !important;
  color: #fff !important;
}

.btn-custom {
  background-color: #8f6767 !important;
  border-color: #8f6767 !important;
  color: #fff !important;
  border-radius: 0;
}
